<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
</head>
<body>
    <header>

    </header>

    <main>
        <% search.forEach(val => { %>
            <section> 
                <img src="<%= val.img %> " alt="">
                <h2><%= val.title %> </h2>
                <h3><%= val.author %> </h3>
                <p><%= val.description%></p>   
            </section>
        <%  }); %>
    </main>

    <footer>

    </footer>

</body>
</html>